<div class="text-centred">
  <p>
  I made this website to showcase my angular skills, and use as a practice project. Using 
  <b> TypeScript, HTML, CSS, SQL AND PHP</b>
  </p>
  <p>The generals section showcases my first use of angular. I later added a dates section as 
  I wanted to create a CRUD API, but I could not trust user input to be appropriate so only 
  the date datatype is used.</p>
  <p>
  My delete is however implemented closer to a get then a proper http delete, as I have not found a
  way of deleting without learning a framework in PHP. My goal was to mainly to learn more frontend devolopment.
  I will probably change it when I learn a new serverside langauge or use ASP.net MVC.
  </p>
</div>
